.headerCheckHome {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background-color: #fff;
  border-bottom: 1px solid var(--cm-border);

  height: 70px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.headerMainNav {
  flex: 1;
}

.headerNavList {
  display: flex;
  list-style: none;
  gap: 30px;
}

.headerNavItem {
  padding: 15px;
  color: var(--cm-text);
}

.headerNavItem:hover {
  color: var(--cm-primary-hover);
  cursor: pointer;
}

.headerAction {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* =========================
   DROPDOWN
   ========================= */
.dropdown {
  position: relative;
}

.dropdownContent {
  position: absolute;
  top: 100%;
  left: 0;

  background-color: #fff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

  border-radius: 8px;
  padding: 12px 16px;
  min-width: 350px;

  opacity: 0;
  visibility: hidden;
  transform: translate(-100px, 10px);
  transition:
    opacity 0.25s ease,
    transform 0.25s cubic-bezier(0.2, 0, 0, 1);

  z-index: 100;
}

.dropdown:hover .dropdownContent {
  opacity: 1;
  visibility: visible;
  transform: translate(-100px, 0);
}

.profileWrap {
  position: relative;
}

.profileBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.avatar {
  width: 32px;
  height: 32px;
  background: var(--cm-primary);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 42px;

  background: white;
  border: 1px solid var(--cm-border);
  border-radius: 8px;
  min-width: 160px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);

  opacity: 0;
  transform: translateY(-6px) scale(0.98);
  pointer-events: none;

  transition:
    opacity 0.15s ease,
    transform 0.15s cubic-bezier(0.2, 0, 0, 1);
}
.profileBtn i {
  transition: transform 0.15s ease;
}

.arrowOpen {
  transform: rotate(180deg);
}

.dropdownOpen {
  opacity: 1;
  transform: translateY(0) scale(1);
  pointer-events: auto;
}

.dropdown div {
  padding: 10px 14px;
  cursor: pointer;
}

.dropdown div:hover {
  background: #f3f4f6;
}

.logout {
  color: #dc2626;
}

.dropdown button {
  background: transparent;
  border: none;
  width: 100%;
  justify-content: flex-start !important;
  text-align: left !important;
  padding: 10px 14px;
  border-radius: 6px;
}

.dropdown button:hover {
  background: #f3f4f6;
}
