.headerCheckHome {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background-color: #fff;
  border-bottom: 1px solid var(--cm-border);

  height: 70px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.headerMainNav {
  flex: 1;
}

.headerNavList {
  display: flex;
  list-style: none;
  gap: 30px;
}

.headerNavItem {
  padding: 15px;
  color: var(--cm-text);
}

.headerNavItem:hover {
  color: var(--cm-primary-hover);
  cursor: pointer;
}

.headerAction {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* =========================
   DROPDOWN
   ========================= */
.dropdown {
  position: relative;
}

.dropdownContent {
  position: absolute;
  top: 100%;
  left: 0;

  background-color: #fff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

  border-radius: 8px;
  padding: 12px 16px;
  min-width: 350px;

  opacity: 0;
  visibility: hidden;
  transform: translate(-100px, 10px);
  transition:
    opacity 0.25s ease,
    transform 0.25s cubic-bezier(0.2, 0, 0, 1);

  z-index: 100;
}

.dropdown:hover .dropdownContent {
  opacity: 1;
  visibility: visible;
  transform: translate(-100px, 0);
}
