.sidebar {
  width: 220px;
  background: #fff;
  border-right: 1px solid var(--cm-border);
  flex-shrink: 0;
  padding: 12px 12px;

  position: sticky;
  top: 70px;

  min-height: calc(100vh - 70px);

  display: flex;
  flex-direction: column;
  overflow: visible;
}

/* Nav */

.nav {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.item:hover {
  background: rgba(var(--cm-primary-rgb), 0.05);
  color: var(--cm-primary);
}

/* Active */

.active {
  background: rgba(var(--cm-primary-rgb), 0.12);
  color: var(--cm-primary);
}

/* Icons */

.item i {
  width: 44px;
  min-width: 44px;

  text-align: center;
  font-size: 16px;
}

/* Footer */

.footer {
  margin-top: auto;
  position: relative;
  height: 54px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-top: 1px solid var(--cm-border);
  background: #fff;

  font-size: 14px;
  color: var(--cm-muted);
  padding: 0 16px;
}

.footer p {
  position: absolute;
  margin: 0;
  line-height: 1;
  bottom: 14px;
}

/* ===========================
   Collapse support
=========================== */

.sidebar {
  transition: width 0.25s ease;
}

/* collapsed width */

.collapsed {
  width: 70px;
}

/* toggle button */

.toggle {
  position: absolute;
  top: 14px;
  right: -14px;

  width: 24px;
  height: 24px;

  border-radius: 50%;
  border: 1px solid var(--cm-border);
  background: white;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.item {
  all: unset;
  cursor: pointer;

  position: relative;
  height: 44px;

  display: flex;
  align-items: center;

  border-radius: 6px;

  color: var(--cm-text-soft);

  transition:
    background 0.2s ease,
    color 0.2s ease;
}

/* footer hidden */

.collapsed .footer {
  display: none;
}

.label {
  position: absolute;
  left: 44px;
  top: 50%;
  transform: translateY(-50%);

  white-space: nowrap;
  pointer-events: none;
}

.label span {
  display: inline-block;

  opacity: 1;
  transform: translateX(0);

  transition:
    opacity 0.25s ease,
    transform 0.25s ease;

  transition-delay: calc(var(--i) * 25ms);
}

.collapsed .label span {
  opacity: 0;
  transform: translateX(-16px);
}

.toggle i {
  transition: transform 0.25s ease;
}

.collapsed .toggle i {
  transform: rotate(180deg);
}
